@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #110F11;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-gradient {
  background: linear-gradient(180deg, rgba(151, 71, 255, 0.05) 5%, #110F11 100%);
}